.Category{
    margin-top: 120px;
    
}
.Category-part{
    text-align: center;
}
.cg{
    color: #ee626b;
    text-transform: uppercase;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    letter-spacing: 1;
}
.tg{
    color: black;
    font-size: 40px;
    font-weight: 800;
}